*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Build folderi
/app/build
/.gradle

# Firebase keys
google-services.json
*/google-services.json

# Android Studio fajlovi
/.idea

.gradle/

node_modules/
functions/node_modules/

# Debug keystore
*.keystore

# Ostalo (cache, logovi itd.)
/.externalNativeBuild
/.cxx
